<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE"> Login </title>
    <meta name="description" content=""/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link href="/css/styles.css" th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>

<!-- NAVBAR -->
<div th:replace="fragments/navbar.html :: navbar"></div>


<div class="jumbotron">
    <div class="container-fluid">

        <p class="error" th:if="${loginError}">Wrong email or password</p>

        <div class="alert alert-danger" th:if="${param.error}">
            Invalid username and password.
        </div>
        <div class="alert alert-success" th:if="${param.logout}">
            You have been logged out.
        </div>

        <div class="container">
            <div class="row justify-content-md-center">
                <h2>Sign in</h2>
            </div>

            <!-- login form -->
            <form class="row g-3 needs-validation" method="post" novalidate th:action="@{/login}">
                <div class="col">

                    <div class="col form-group">
                        <label class="form-label" for="email">Email</label>
                        <input autofocus class="form-control" id="email" name="email" placeholder="Email" required
                               type="email">
                    </div>

                    <div class="col form-group">
                        <label class="form-label" for="password">Password</label>
                        <input class="form-control" id="password" name="password" placeholder="Password" required
                               type="password">
                    </div>

                    <div class="col">
                        <button class="btn btn-primary" id="login" name="login" type="submit">Sign in</button>
                    </div>

                    <div class="col">
                        New to Agile? <a th:href="@{/register}">Sign up</a>
                    </div>

                    <a th:href="@{/}">Back to home</a>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- FOOTER -->
<div th:replace="fragments/footer.html :: footer"></div>
</body>

</html>