<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE"> Easy Patent Renewal</title>
    <meta name="description" content=""/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link href="/css/styles.css" th:href="@{/css/main.css}" rel="stylesheet">
</head>
<h2>Create an account</h2>

<form class="row g-3 needs-validation" method="post" novalidate th:action="@{/register}" th:object="${user}">

    <div class="col-md-12 form-group required">
        <label for="email" class="form-label">Email</label>
        <input autofocus class="form-control" id="email" placeholder="Email" required th:field="*{email}" type="email">
    </div>

    <div class="col-md-12 form-group required">
        <label for="password" class="form-label">Password</label>
        <input class="form-control" id="password" placeholder="Password" required th:field="*{password}"
               type="password">
    </div>

    <div class="col-md-12 form-group required">
        <label class="form-label" for="confirmPassword">Confirm Password</label>
        <input class="form-control" id="confirmPassword" placeholder="Confirm password" required type="password">
    </div>

    <div class="col-md-12 form-group required">
        <label for="firstName" class="form-label">First name</label>
        <input class="form-control" id="firstName" placeholder="First name" required th:field="*{firstName}" type="text">
    </div>

    <div class="col-md-12 form-group required">
        <label for="lastName" class="form-label">Last name</label>
        <input class="form-control" id="lastName" placeholder="Last name" required th:field="*{lastName}" type="text">
    </div>

    <div class="col-12">
        <a th:href="@{/}">
            <button class="btn btn-secondary" id="cancel" type="button">Back</button>
        </a>
        <button class="btn btn-primary" id="save" type="submit">Create account</button>
    </div>

</form>

<div th:replace="fragments/footer :: footer"/>
<div th:replace="fragments/footer-js :: footer-js"/>

</body>
</html>