<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Registration Page
<form action="/registration.html" method="post" th:object="${userDto}">
    <input placeholder="First Name" th:field="*{firstName}" type="text">
    <input placeholder="Last Name" th:field="*{lastName}" type="text">
    <input placeholder="Email" th:field="*{email}" type="email">
    <input placeholder="Confirm Email" th:field="*{confirmEmail}" type="email">
    <input placeholder="Create Password" th:field="*{password}" type="password">
    <input placeholder="Confirm Password" th:field="*{confirmPassword}" type="password">>

    <button type="submit">Sign Up</button>
</form>

</body>
</html>