<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head-css :: head-css"/>
    <title>Payments</title>
</head>

<body>

<div th:replace="fragments/header :: navbar"/>

<div class="container">
    <div class="d-flex mb-3">
        <div class="me-auto p-2">
            <h1>Payments</h1>
        </div>
        <div class="p-2">
            <a th:href="@{/payments/add}">
                <button class="btn btn-primary" type="button">Add payment</button>
            </a>
        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Date</th>
            <th scope="col">Amount</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="payment : ${payments}">
            <td>
                <a th:href="@{/payments/{id}/board(id = ${payment.id})}" th:text="${payment.id}"></a>
            </td>
            <td>
                <p th:text="${#temporals.format(payment.date, 'MM-yyyy')}"></p>
            </td>
            <td>
                <p th:text="${payment.amount}"></p>
            </td>
            <td>
                <!-- edit button -->
                <a th:href="@{/payments/{id}/edit(id = ${payment.id})}">
                    <i class="fas fa-edit"></i>
                </a>

                <!-- delete button -->
                <a th:href="@{/payments/{id}/delete(id = ${payment.id})}">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>

</div>

<div th:replace="fragments/footer :: footer"/>
<div th:replace="fragments/footer-js :: footer-js"/>

</body>

</html>
